body,
h1,
p {
    margin: 0;
    padding: 0;
}


body {
    background-color: #08090b;
}


h1 {
    font-size: 36px;
    color: black;
    margin: 20px;
}

p {
    font-size: 18px;
    color: black;
    margin: 20px;
    line-height: 1.5;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}