body {
    background-color: #2f3542;

}

.main {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid #4834d4;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 40%;

}



form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.msgBtn {
    background-color: #c134d4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;

}

.msgBtn:hover {
    background-color: #273c75;
    color: white;
}



input:focus,
textarea:focus {
    border-color: #4834d4;
    outline: none;
}

.contactTitle {
    padding-bottom: 10px;
}